<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
<head>
    <title th:text="#{administrators}">Administrators</title>
    <style>
        .auto-truncate {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    </style>
</head>
<body>
<h1 layout:fragment="content-heading">
    <span th:text="#{administrators}" th:remove="tag">Administrators</span>
</h1>
<ol th:fragment="breadcrumb" class="breadcrumb">
    <li>
        <a th:href="@{/}">
            <i class="fa fa-dashboard"></i> <span th:text="#{dashboard}" th:remove="tag">Dashboard</span>
        </a>
    </li>
    <li class="active">
        <i class="fa fa-users"></i> <span th:text="#{administrators}" th:remove="tag">Administrators</span>
    </li>
</ol>
<div layout:fragment="content-body">
    <div class="alert alert-danger text-center"
         role="alert"
         th:if="${administrators.empty}"
         th:text="#{administrators.empty.message}">
        Found no administrators.
    </div>
    <div th:each="group : ${T(com.google.common.collect.Lists).partition(administrators, 3)}" th:remove="tag">
        <div th:each="administrator : ${group}" class="col-md-4">
            <div class="info-box">
                <span class="info-box-icon"><i class="fa fa-user"></i></span>
                <div class="info-box-content">
                    <a th:href="@{/access-management/administrator/} + ${administrator.id}">
                        <span class="info-box-text auto-truncate" th:text="${administrator.username}">Username</span>
                    </a>
                    <span class="info-box-number auto-truncate" th:text="${administrator.firstName} + ' ' + ${administrator.lastName}"></span>
                    <span class="progress-description">
                        <span th:text="${administrator.roles.size()}" th:remove="tag">#</span>
                        <span th:text="${administrator.roles.size()} == 1 ? #{role} : #{roles}" th:remove="tag">Role(s)</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>