<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    <title layout:title-pattern="$DECORATOR_TITLE :: $CONTENT_TITLE" th:text="#{application.name}">My Virtual Tour</title>

    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" />
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"
          th:href="@{/webjars/ionicons/2.0.1/css/ionicons.min.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css"
          th:href="@{/webjars/select2/4.0.3/dist/css/select2.min.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.2/css/AdminLTE.min.css"
          th:href="@{/webjars/AdminLTE/2.4.2/dist/css/AdminLTE.min.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.2/css/skins/skin-blue.min.css"
          th:href="@{/webjars/AdminLTE/2.4.2/dist/css/skins/skin-blue.min.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css"
          th:href="@{/webjars/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jdewit/bootstrap-timepicker@0.2.3/css/bootstrap-timepicker.min.css"
          th:href="@{/webjars/bootstrap-timepicker/0.2.3/css/bootstrap-timepicker.min.css}" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic" />

    <style>
        .content-header > .breadcrumb > li.active > .fa {
            margin-right: 5px;
        }
    </style>

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"
            th:src="@{/webjars/html5shiv/3.7.3/html5shiv.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"
            th:src="@{/webjars/respond.js/1.4.2/respond.min.js}"></script>
    <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <header th:fragment="header" class="main-header">
        <a th:href="@{/}" class="logo">
            <span class="logo-mini"><strong>V</strong>T</span>
            <span class="logo-lg">
                <strong th:text="#{virtual}">Virtual</strong><span th:text="#{tour}" th:remove="tag">Tour</span>
            </span>
        </a>
        <nav class="navbar navbar-static-top" role="navigation">
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only" th:text="#{toggle-navigation}">Toggle navigation</span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li sec:authorize="isAnonymous()">
                        <a th:href="@{/login}">
                            <i class="fa fa-sign-in" aria-hidden="true"></i>&ensp;
                            <span class="hidden-xs" th:text="#{login}">Login</span>
                        </a>
                    </li>
                    <li class="dropdown user user-menu" sec:authorize="isAuthenticated()">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="https://api.adorable.io/avatars/160/abott@adorable.png" class="user-image" alt="User Image" />
                            <span class="hidden-xs" th:text="${#authentication.getPrincipal().getName()}">Name</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-header" style="height:140px;">
                                <img src="https://api.adorable.io/avatars/160/abott@adorable.png" class="img-circle" alt="User Image" />
                                <p th:with="username=${#authentication.name}">
                                    <span th:remove="tag" th:text="${#authentication.getPrincipal().getName()}">Name</span>
                                </p>
                            </li>
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a th:href="@{/access-management/administrator/me}"
                                       class="btn btn-default btn-flat"
                                       th:text="#{profile}">
                                       Profile
                                    </a>
                                </div>
                                <div class="pull-right">
                                    <a th:href="@{/logout}"
                                       id="logout-link"
                                       class="btn btn-default btn-flat"
                                       th:text="#{logout}">
                                       Logout
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <aside class="main-sidebar">
        <section class="sidebar">
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header text-uppercase" th:value="#{navigation}">Navigation</li>
                <li class="treeview" sec:authorize="hasAnyAuthority(T(ph.edu.tsu.tour.core.access.Privileges.Access).READ, T(ph.edu.tsu.tour.core.access.Privileges.Access).WRITE)">
                    <a href="#">
                        <i class="fa fa-user"></i> <span th:text="#{administrators}">Administrators</span>
                        <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a th:href="@{/access-management/administrator}"
                               th:value="#{view-all}"
                               sec:authorize="hasAuthority(T(ph.edu.tsu.tour.core.access.Privileges.Access).READ)">
                            View All
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/access-management/administrator/new}"
                               th:value="#{add-new}"
                               sec:authorize="hasAuthority(T(ph.edu.tsu.tour.core.access.Privileges.Access).WRITE)">
                            Add New
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-map-marker"></i> <span th:text="#{locations}">Locations</span>
                        <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a th:href="@{/location/church}" th:value="#{view-all}">View All</a></li>
                        <li>
                            <a th:href="@{/location/church/new}"
                               th:value="#{add-new}"
                               sec:authorize="hasAuthority(T(ph.edu.tsu.tour.core.access.Privileges.Location).WRITE)">
                               Add New
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </section>
    </aside>
    <div class="content-wrapper">
        <section class="content-header">
            <h1 layout:fragment="content-heading">
                Title
                <small class="text-capitalize">Subtitle</small>
            </h1>
            <ol th:replace="this :: breadcrumb" class="breadcrumb"></ol>
        </section>
        <section class="content container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <th:block th:with="text=#{error.message}" th:if="${errors}">
                        <div th:replace="fragment/list-item-alert :: alert (type='danger', message=${text}, items=${errors}, classes='', style='margin-bottom: 15px;')">Errors</div>
                    </th:block>
                </div>
            </div>
            <div layout:fragment="content-body" th:remove="tag">
                Content.
            </div>
        </section>
        <section sec:authorize="isAuthenticated()">
            <form class="navbar-form navbar-right" th:action="@{/logout}" method="post" th:hidden="true">
                <button id="logout-button" type="submit" class="btn btn-link" th:text="#{logout}">Logout</button>
            </form>
        </section>
    </div>
    <footer th:fragment="footer" class="main-footer" th:with="year=${#dates.format(#dates.createNow(), 'yyyy')}">
        <div class="pull-right hidden-xs"></div>
        <span th:text="#{copyright(${year})}" th:remove="tag">Copyright &copy; 2018.</span>
        <span th:text="#{all-rights-reserved}" th:remove="tag">All rights reserved.</span>
    </footer>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"
        th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/3.3.7/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.2/js/adminlte.min.js"
        th:src="@{/webjars/AdminLTE/2.4.2/dist/js/adminlte.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.min.js"
        th:src="@{/webjars/select2/4.0.3/dist/js/select2.full.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"
        th:src="@{/webjars/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js}"></script>
<script src="https://cdn.jsdelivr.net/gh/jdewit/bootstrap-timepicker@0.2.3/js/bootstrap-timepicker.min.js"
        th:src="@{/webjars/bootstrap-timepicker/0.2.3/js/bootstrap-timepicker.min.js}"></script>
<script type="text/javascript" sec:authorize="isAuthenticated()">
    $('document').ready(function() {
        $('#logout-link').click(function() {
            $('#logout-button').click();
            return false;
        });
    });
</script>
<th:block layout:fragment="scripts"></th:block>
</body>
</html>