<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
<head>
    <title th:text="#{churches}">Churches</title>
</head>
<body>
<h1 layout:fragment="content-heading">
    <span th:text="#{churches}" th:remove="tag">Churches</span>
</h1>
<ol th:fragment="breadcrumb" class="breadcrumb">
    <li>
        <a th:href="@{/}">
            <i class="fa fa-dashboard"></i>
            <span th:text="#{dashboard}" th:remove="tag">Dashboard</span>
        </a>
    </li>
    <li class="active">
        <i class="fa fa-map-o"></i>
        <span th:text="#{churches}" th:remove="tag">Churches</span>
    </li>
</ol>
<div layout:fragment="content-body">
    <div class="row" th:if="${locations.empty}">
        <div class="col-md-12">
            <div class="alert alert-danger text-center"
                 role="alert"
                 th:text="#{locations.empty.message}">Found no locations.</div>
        </div>
    </div>
    <div>
        <div th:each="group : ${T(com.google.common.collect.Lists).partition(locations, 3)}" class="row">
            <div th:each="location : ${group}" th:object="${location}" class="col-md-4">
                <div class="box box-widget widget-user">
                    <div class="widget-user-header bg-black"
                         th:style="'background: url(' + @{${location?.coverImage?.uri ?: 'http://via.placeholder.com/350x250?text=X'}} + ') center center; background-size: cover;'">
                        <h3 class="widget-user-username" th:text="${location.name}">Location Name</h3>
                    </div>
                    <div class="box-footer" style="padding-top: 10px;">
                        <div class="row">
                            <div class="col-sm-12">
                                <a th:href="@{/location/church/} + ${location.id}" class="btn btn-block btn-primary btn-sm">
                                    Edit
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>