<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="alert (type, message, items, classes, style)"
     th:assert="${!#strings.isEmpty(type) and !#strings.isEmpty(message)}"
     th:classappend="'box-' + ${type} + ' ' + ${classes}"
     th:style="${style}"
     class="box box-solid">
    <div class="box-header with-border">
        <p class="box-title">
            <i class="icon fa fa-warning"></i>
            <span th:text="${message}" th:remove="tag">Message.</span>
        </p>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <ul class="list-group" th:if="${items}" style="margin-bottom: 0px;">
            <li class="list-group-item" th:each="item : ${items}" th:text="${item}">Item</li>
        </ul>
    </div>
</div>
</body>
</html>