<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
<head>
    <title th:text="${image.id != null}? #{image.edit} : #{image.add}">Image</title>
    <style>
        .form-group.location-image > .thumbnail > img {
            object-fit: cover;
            height: 380px;
        }
        .form-group.location-image > input[type=file] {
            display: none;
        }
        .form-group.location-image > p.help-block {
            margin-top: -10px;
        }
    </style>
</head>
<body>
<h1 layout:fragment="content-heading" th:text="${image?.id}? #{image.edit} : #{image.add}">
    Image
</h1>
<ol th:fragment="breadcrumb" class="breadcrumb">
    <li>
        <a th:href="@{/}">
            <i class="fa fa-dashboard"></i> <span th:text="#{dashboard}" th:remove="tag">Dashboard</span>
        </a>
    </li>
    <li>
        <a th:href="@{/location/church}">
            <i class="fa fa-map-o"></i> <span th:text="#{churches}" th:remove="tag">Churches</span>
        </a>
    </li>
    <li>
        <a th:href="@{/location/church/} + ${image.reference}">
            <i class="fa fa-map-marker"></i> <span th:text="${image.reference}" th:remove="tag">#</span>
        </a>
    </li>
    <li>
        <a th:href="@{/location/church/} + ${image.reference} + @{/image}">
            <i class="fa fa-clone"></i> <span th:text="#{images}" th:remove="tag">Images</span>
        </a>
    </li>
    <th:block th:with="text=#{new}">
        <li class="active">
            <i class="fa fa-photo"></i>
            <span th:text="${image.id != null ? image.id : text}" th:remove="tag">#</span>
        </li>
    </th:block>
</ol>
<div layout:fragment="content-body">
    <form th:if="${image}"
          th:action="@{/location/church/image/save}"
          th:object="${image}"
          method="POST"
          role="form"
          enctype="multipart/form-data">
        <div class="row" th:if="${#fields.hasGlobalErrors()}">
            <div class="col-md-12">
                <div th:with="text=#{error.message}, errors=${#fields.globalErrors()}">
                    <div th:replace="fragment/list-item-alert :: alert (type='danger', message=${text}, items=${errors}, classes='', style='')">Errors</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border"></div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="hidden" th:field="*{reference}" />
                                <div class="form-group" th:classappend="${#fields.hasErrors('id')} ? has-error : ''" th:hidden="true">
                                    <label for="id" th:text="#{id}">Identifier</label>
                                    <input type="text" th:field="*{id}" readonly="readonly" class="form-control" id="id" th:placeholder="#{id.placeholder}" placeholder="#"/>
                                </div>
                                <div class="form-group" th:classappend="${#fields.hasErrors('title')} ? has-error : ''">
                                    <label for="title" th:text="#{title}">Title</label>
                                    <input type="text" th:field="*{title}" class="form-control" id="title" th:placeholder="#{image.title.placeholder}" placeholder="Title" />
                                    <p class="help-block" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
                                </div>
                                <div class="form-group" th:classappend="${#fields.hasErrors('description')} ? has-error : ''">
                                    <label for="description" th:text="#{description}">Description</label>
                                    <textarea id="description"
                                              class="form-control"
                                              rows="15"
                                              placeholder="Description of this image."
                                              style="resize: none;"
                                              th:field="*{description}"
                                              th:placeholder="#{image.description.placeholder}"></textarea>
                                    <p class="help-block" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group location-image" th:classappend="${#fields.hasErrors('file')} ? has-error : ''">
                                    <label for="file" th:text="#{file}">File</label>
                                    <div class="thumbnail">
                                        <img src="http://via.placeholder.com/350x250?text=X" th:src="${not #strings.isEmpty(image?.uri) ? image.uri : 'http://via.placeholder.com/350x250?text=X'}" />
                                    </div>
                                    <input type="file" th:field="*{file}" id="file" accept="image/*" />
                                    <input type="hidden" th:field="*{uri}" />
                                    <p class="help-block" th:if="${#fields.hasErrors('file')}" th:errors="*{file}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="btn-group btn-group-justified" role="group" aria-label="...">
                            <div class="btn-group" role="group">
                                <button type="submit" class="btn btn-primary btn-block" th:value="#{submit}">Submit</button>
                            </div>
                            <div class="btn-group"
                                 role="group"
                                 th:if="${image?.id}">
                                <a id="delete-link" class="btn btn-danger btn-block" th:value="#{delete}">Delete</a>
                            </div>
                            <div class="btn-group" role="group">
                                <button id="reset" type="reset" class="btn btn-default btn-block" th:value="#{reset}">Reset</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <form action="/location/church/image/delete"
          th:action="@{/location/church/image/delete}"
          method="POST"
          th:if="${image?.id}"
          th:hidden="true">
        <div class="col-xs-12">
            <div class="form-group">
                <input type="hidden" name="location-id" th:value="${image.reference}" />
                <input type="hidden" name="id" th:value="${image.id}" />
            </div>
            <button type="submit" class="btn btn-danger btn-block" th:value="#{delete}">Delete</button>
        </div>
    </form>
</div>
<th:block layout:fragment="scripts">
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        $('document').ready(function() {
            $('.form-group.location-image > .thumbnail').click(function(e) {
                $(this).siblings('input[type=file]').click();
            });
            $('.form-group.location-image > input[type=file]').change(function() {
                var url = window.URL.createObjectURL($(this)[0].files[0]);
                $(this).siblings('.thumbnail').children('img:first').attr('src', url);
            });
        });
        $('#reset').click(function(e) {
            var url = /*[[${not #strings.isEmpty(image?.uri) ? image.uri.toString() : 'http://via.placeholder.com/350x250?text=X'}]]*/;
            $('#file').siblings('.thumbnail').children('img:first').attr('src', url);
        });
        /*]]>*/
    </script>
</th:block>
</body>
</html>