<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
<head>
    <title th:text="#{images}">Images</title>
</head>
<body>
<h1 layout:fragment="content-heading" th:text="#{images}">Images</h1>
<ol th:fragment="breadcrumb" class="breadcrumb">
    <li>
        <a th:href="@{/}">
            <i class="fa fa-dashboard"></i> <span th:text="#{dashboard}" th:remove="tag">Dashboard</span>
        </a>
    </li>
    <li>
        <a th:href="@{/location/church}">
            <i class="fa fa-map-o"></i> <span th:text="#{churches}" th:remove="tag">Churches</span>
        </a>
    </li>
    <li>
        <a th:href="@{/location/church/} + ${id}">
            <i class="fa fa-map-marker"></i> <span th:text="${id}" th:remove="tag">#</span>
        </a>
    </li>
    <li class="active">
        <a th:href="@{/location/church/} + ${id} + @{/image}">
            <i class="fa fa-clone"></i> <span th:text="#{images}" th:remove="tag">Images</span>
        </a>
    </li>
</ol>
<div layout:fragment="content-body">
    <div class="row" th:if="${images.empty}">
        <div class="col-md-12">
            <div class="alert alert-danger text-center"
                 role="alert"
                 th:text="#{images.empty.message}">Found no images.</div>
        </div>
    </div>
    <div class="row">
        <div th:each="group : ${T(com.google.common.collect.Lists).partition(images, 3)}" class="row">
            <div th:each="image : ${group}" th:object="${image}" class="col-md-4">
                <div class="box box-widget widget-user">
                    <div class="widget-user-header bg-black"
                         th:style="'background: url(' + @{${image?.uri ?: 'http://via.placeholder.com/350x250?text=X'}} + ') center center; background-size: cover;'">
                        <h3 class="widget-user-username" th:text="${image.title}">Title</h3>
                    </div>
                    <div class="box-footer" style="padding-top: 10px;">
                        <div class="row">
                            <div class="col-sm-12">
                                <a th:href="@{/location/church/} + ${image.reference} + @{/image/} + ${image.id}" class="btn btn-block btn-primary btn-sm">
                                    Edit
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>